<ng-content></ng-content>
<p class="warning-msg" *ngIf="showCompleteBtn && !isFormValid"> 
    Your form is invalid. Kindly go back and provide the necessary details.
</p>

<div class="wizard-footer" *ngIf="!isCompleted; else strtOver">
    <button *ngIf="showPrevBtn" type="button" class="btn btn-primary" (click)="gotoPrevStep()">< Previous</button>
    <button *ngIf="!showCompleteBtn" [disabled]="disableNextBtn" type="button" class="btn btn-primary" (click)="gotoNextStep()">Next ></button>
    <button *ngIf="showCompleteBtn" [disabled]="!isFormValid" class="btn btn-primary" (click)="generateShippingLabel()">
        Complete
    </button>
</div>

<ng-template #strtOver>
    <button type="button" class="btn btn-primary" (click)="goToFirst()">Start Over</button>
  </ng-template>