
<app-wizard [wizardContext]="shippingInfo" (complete)="generateShippingLabel()">
    <app-step-header></app-step-header>
    <mat-progress-bar mode="determinate" color="accent" [value]="progressValue"></mat-progress-bar>
    <h2></h2>
    <app-wizard-steps></app-wizard-steps>
</app-wizard>