<mat-toolbar color="primary">
  <span>{{ title }}</span>
</mat-toolbar>

<div class="container app-container p-10">
  <div class="row">
    <div class="col-xs-12 col-md-12">
        <app-shipping-label-maker></app-shipping-label-maker>
    </div>
  </div>
</div>

