<h3>{{confirmMsg}}</h3>
<hr />
<div class="container">
    <div class="row pb-4">
        <div class="col-md-3">Sender Address:</div>
        <div class="col-md-6">
            <strong>{{shippingInfo.from.name}}</strong>
            <address>
                {{shippingInfo.from.street}}
                {{shippingInfo.from.city}}, {{shippingInfo.from.state}}, {{shippingInfo.from.zip}}
            </address>
        </div>        
    </div>
    
    <div class="row pb-4">
        <div class="col-md-3">Receiver Address:</div>
        <div class="col-md-6">
            <strong>{{shippingInfo.to.name}}</strong>
            <address>
                {{shippingInfo.to.street}}
                {{shippingInfo.to.city}}, {{shippingInfo.to.state}}, {{shippingInfo.to.zip}}
            </address>
        </div>
    </div>
    
    <div class="row pb-4">
        <div class="col-md-3">Weight:</div>
        <div class="col-md-6">
            <strong>{{shippingInfo.weight}} </strong>
        </div>
    </div>
    
    <div class="row pb-4">
        <div class="col-md-3">Shipping Cost:</div>
        <div class="col-md-6">
            <strong>{{shippingCost | currency:'USD'}} </strong>
        </div>
    </div>
    
    <div class="row pb-4">
        <div class="col-md-3">Shipping Option:</div>
        <div class="col-md-6">
            <strong>{{displayShippingOption}}</strong>
        </div>
    </div>
</div>
