<form class="form-horizontal weight-form col-xs-12" [formGroup]="weightForm" (ngSubmit)="onSubmit(weightForm)">
    <div class="form-group">
        
        <label class="control-label col-sm-2" for="weight">Weight<sup style="color: red;">*</sup></label>
        <div class="col-sm-10">
            <input type="number" class="form-control" formControlName="weight" placeholder="Weight">
            
            <div *ngIf="weightFormControl.weight.invalid && (weightFormControl.weight.dirty || weightFormControl.weight.touched)" class="alert alert-danger">

                <div *ngIf="weightFormControl.weight.errors?.required">
                    Weight is required.
                </div>
                
            </div>
        </div>
    </div>
</form>