<form class="form-horizontal sender-form col-xs-12" [formGroup]="senderForm" (ngSubmit)="onSubmit(senderForm)">
   <button type="button" class="btn btn-primary float-right" (click)="fillSenderAddress()">Fill sender Details</button>
    <div class="form-group mb-2">
        <label class="control-label col-sm-2" for="name">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="name" placeholder="Enter Full Name">
            <div *ngIf="senderFormControl.name.invalid && (senderFormControl.name.dirty || senderFormControl.name.touched)" class="alert alert-danger">

                <div *ngIf="senderFormControl.name.errors?.required">
                    Name is required.
                </div>
                <div *ngIf="senderFormControl.name.errors?.minlength">
                    Name must be at least 4 characters long.
                </div>
            </div>
        </div>
    </div>
    <div class="form-group mb-2">
        <label class="control-label col-sm-2" for="street">Street</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="street" placeholder="Enter street Name">
        </div>
    </div>

    <fieldset class="form-inline mb-5">
        <div class="form-group">
            <div class="col-sm-4">
                <label class="control-label" for="city">City</label>
                <input type="text" class="form-control" formControlName="city" placeholder="Enter City Name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4">
                <label class="control-label" for="state">State</label>
                <input type="text" class="form-control" formControlName="state" placeholder="Enter state">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4">
                <label class="control-label" for="zip">Zip</label>
                <input type="number" class="form-control" formControlName="zip" placeholder="Enter zip">
            </div>
        </div>
    </fieldset>
</form>