<form class="form-horizontal shipping-option-form col-xs-12" [formGroup]="shippingOptionForm" (ngSubmit)="onSubmit(shippingOptionForm)">
    <div class="form-group">
        <label class="control-label col-sm-6" for="shipping-option">Select Shipping Option<sup style="color: red;">*</sup></label>
        <div class="col-sm-10">
            <!-- <input class="form-control" formControlName="shippingOption" placeholder="Shipping Option"> -->
            <select id="shippingOption" formControlName="shippingOption" class="form-control">
                <option *ngFor="let key of keys" [value]="key" >{{key}}</option>
            </select>
        </div>
    </div>
</form>