<form class="form-horizontal receiver-form col-xs-12" [formGroup]="receiverForm" (ngSubmit)="onSubmit(receiverForm)">
    <button type="button" class="btn btn-primary float-right" (click)="fillReceiverAddress()">Fill Receiver Details</button>
    <div class="form-group mt-2 mb-2">
        <label class="control-label col-sm-2" for="name">Name</label>
        <div class="col-sm-10">
            <input type="text" minlength="4" class="form-control" id="name" formControlName="name" placeholder="Enter Full Name">
            <div *ngIf="receiverFormControl.name.invalid && (receiverFormControl.name.dirty || receiverFormControl.name.touched)" class="alert alert-danger">

                <div *ngIf="receiverFormControl.name.errors?.required">
                    Name is required.
                </div>
                <div *ngIf="receiverFormControl.name.errors?.minlength">
                    Name must be at least 4 characters long.
                </div>
            </div>
        </div>
    </div>
    <div class="form-group mb-2">
        <label class="control-label col-sm-2" for="street">Street</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="street" placeholder="Enter street Name">
            <div *ngIf="receiverFormControl.street.invalid && (receiverFormControl.street.dirty || receiverFormControl.street.touched)" class="alert alert-danger">

                <div *ngIf="receiverFormControl.street.errors?.required">
                    Name is required.
                </div>
            </div>
        </div>
    </div>

    <fieldset class="form-inline mb-5">
        <div class="form-group">
            <div class="col-sm-4">
                <label class="control-label" for="city">City</label>
                <input type="text" class="form-control" formControlName="city" placeholder="Enter City Name">
                
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4">
                <label class="control-label" for="state">State</label>
                <input type="text" class="form-control" formControlName="state" placeholder="Enter state">
                
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4">
                <label class="control-label" for="zip">Zip</label>
                <input type="number" class="form-control" formControlName="zip" placeholder="Enter zip">                
            </div>
        </div>
        <div *ngIf="receiverFormControl.zip.invalid && (receiverFormControl.zip.dirty || receiverFormControl.zip.touched)" class="alert alert-danger">
            <div *ngIf="receiverFormControl.zip.errors?.required">
                Zip is required.
            </div>
        </div>
        <div *ngIf="receiverFormControl.state.invalid && (receiverFormControl.state.dirty || receiverFormControl.state.touched)" class="alert alert-danger">
    
            <div *ngIf="receiverFormControl.state.errors?.required">
                State is required.
            </div>
        </div>
        <div *ngIf="receiverFormControl.city.invalid && (receiverFormControl.city.dirty || receiverFormControl.city.touched)" class="alert alert-danger">
    
            <div *ngIf="receiverFormControl.city.errors?.required">
                City is required.
            </div>
        </div>
    </fieldset>

</form>